.header.clearfix
  nav
    ul.nav.nav-pills.pull-right
      li.active(role='presentation')
        a(href='/') Home
      li.active(role='presentation')
        a(href='/flattenarray') Flatten Array
  h3.text-muted My app
