extends ../layouts/default.jade

block page-header
  h2 Todo

block content
  form(method='POST')
    .form-group
      label(for='formGroupExampleInput') Enter Array
      input#formGroupExampleInput.form-control(type='text', placeholder='Array e.g. [[2], 3, [4]]', name='nestedarray')
      input(type="hidden", name="_csrf", value="#{csrf}")
    button.btn.btn-primary(type='submit') Submit
  if (flattenedArray)
    h2 Results is
      span= flattenedArray
